@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to My Webpage!</h1>
</div>
<p>
    This webpage is created using ASP.NET Core.
</p>
<p>
    This is a small project that is used to help download the free pdf files on the websites that do not require any
    authentication.
</p>
<p>
    No database is used. The pdf files are saved to the server.
</p>