@using WebAppMvc.ViewModels;
@model PdfViewModel
@{
    ViewData["Title"] = "PDF Files";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>PDF Files</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-center">
            <span>Pdf File</span>
        </div>
    </div>
    @foreach(var file in Model.PdfFiles)
    {
        <div class="row">
            <div class="col-8 text-center">
                <a href="@file.DownloadPath">@file.FileName</a>
            </div>
        </div>
    }
</div>
