html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*============ SCROLL BAR ============*/
::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #606060;
    border: solid 5px transparent;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
}
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #777777;
}
::-webkit-scrollbar-track {
}
/*============ SCROLL BAR END============*/