html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*============ SCROLL BAR ============*/
:root {
    --color-dark-sea-green: #11875d;
    --bg-color-scrollbar: hsl(0, 0%, 74%);
    --bg-color-scrollbar-thumb: var(--color-dark-sea-green);
}
::-webkit-scrollbar {
    width: .6rem;
    height: .6rem;
    background: var(--bg-color-scrollbar);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color-scrollbar-thumb);
}
/*============ SCROLL BAR END============*/